@model Story

@{
    var action = (string)ViewData["Action"] ?? (Model.Id == 0 ? "Create" : "Update");
    var _type = "POST";
    var _url = "/api/story";
    var _grid = "grid_Story_Index";
    if (action == "Update")
    {
        _type = "PUT";
        _url = $"/api/story/{Model.Id}";
    }
}

<div class="row form-row-info form-group-row-info">
    <div class="col-sm-12 form-column-info">
        <div class="fields-group-info">
            <label class="control-label fields-group-label-info">Thông tin Truyện</label>
        </div>
    </div>

    <div class="col-sm-12 form-column-info">

        <div class="control-group-info hidden">
            @(Html.Kendo().TextBox()
                .Name("Id")
                .HtmlAttributes(new { style = "display: none", fm_data_field = "Id" })
                .Value(Model.Id.ToString()))
        </div>

        <!-- Name -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="Name">Tên truyện</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().TextBox()
                    .Name("Name")
                    .Placeholder(SystemVariable.placeholderRequired)
                    .HtmlAttributes(new { @class = "required-field", fm_data_field = "Name" })
                    .Value(Model.Name))
            </div>
        </div>

        <!-- Slug -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="Slug">Slug</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().TextBox()
                    .Name("Slug")
                    .Placeholder(SystemVariable.placeholderRequired)
                    .HtmlAttributes(new { @class = "required-field", fm_data_field = "Slug" })
                    .Value(Model.Slug))
            </div>
        </div>

        <!-- Description -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="Description">Mô tả</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().TextArea()
                    .Name("Description")
                    .Placeholder(SystemVariable.placeholderTextbox)
                    .Size(ComponentSize.Large)
                    .FillMode(FillMode.Solid)
                    .Resize(TextAreaResize.Vertical)
                    .Overflow(TextAreaOverflow.Scroll)
                    .Rows(3)
                    .HtmlAttributes(new { fm_data_field = "Description", style = "width: 100%;height: auto !important;" })
                    .Value(Model.Description))
            </div>
        </div>

        <!-- CoverUrl -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="CoverUrl">Ảnh bìa (URL)</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().TextBox()
                    .Name("CoverUrl")
                    .Placeholder("Nhập link ảnh bìa")
                    .HtmlAttributes(new { fm_data_field = "CoverUrl" })
                    .Value(Model.CoverUrl))
            </div>
        </div>

        <!-- AuthorId -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="AuthorId">Tác giả</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().DropDownList()
                    .Name("AuthorId")
                    .OptionLabel("-- Chọn tác giả --")
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/author/dropdown").Type(HttpVerbs.Get);
                        }).ServerFiltering(false);
                    })
                    .Value(Model.AuthorId.ToString())
                    .HtmlAttributes(new { fm_data_field = "AuthorId" }))
            </div>
        </div>

        <!-- Tags -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="Tags">Tag</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().MultiSelect()
                    .Name("Tags")
                    .Placeholder("-- Chọn tag --")
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url("/api/tag/dropdown").Type(HttpVerbs.Get));
                    })
                    .Value(Model.Tags)
                    .HtmlAttributes(new { fm_data_field = "Tags" }))
            </div>
        </div>

        <!-- GenreIds -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="GenreIds">Thể loại</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().MultiSelect()
                    .Name("GenreIds")
                    .Placeholder("-- Chọn thể loại --")
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url("/api/genre/dropdown").Type(HttpVerbs.Get));
                    })
                    .Value(Model.GenreIds)
                    .HtmlAttributes(new { fm_data_field = "GenreIds" }))
            </div>
        </div>

        <!-- Status -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="Status">Trạng thái</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().DropDownList()
                    .Name("Status")
                    .OptionLabel("-- Chọn trạng thái --")
                    .DataTextField("text")
                    .DataValueField("value")
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url("/api/story/status-dropdown").Type(HttpVerbs.Get));
                    })
                    .Value(Model.Status?.ToString())
                    .HtmlAttributes(new { fm_data_field = "Status" }))
            </div>
        </div>

        <!-- ContributorType -->
        <div class="control-group-info">
            <div class="col-sm-4 div-label-info">
                <label for="ContributorId">Người đóng góp</label>
            </div>
            <div class="col-sm-8 div-value-info">
                @(Html.Kendo().DropDownList()
                    .Name("ContributorId")
                    .OptionLabel("-- Chọn Người đóng góp --")
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Read(read => read.Url("/api/contributor/dropdown").Type(HttpVerbs.Get));
                    })
                    .Value(Model.ContributorType?.ToString())
                    .HtmlAttributes(new { fm_data_field = "ContributorId" }))
            </div>
        </div>

        <!-- CreatedByUserId -->
        <div class="control-group-info hidden">
            @(Html.Kendo().DatePicker()
                .Name("CreatedAt")
                .HtmlAttributes(new { fm_data_field = "CreatedAt", style = "display: none" })
                .Value(Model.CreatedAt)
                )
        </div>

    </div>
</div>

<div class="col-sm-12 form-column-info">
    <div class="hr hr-dotted hr-double hr10"></div>
    <div class="pull-right" style="margin-right: 10px;">
        <button class="btn btn-sm btn-info"
                data-url="@_url" data-type="@_type" data-grid="@_grid"
                onclick="SaveNewV2(event);">
            <i class="ace-icon glyphicon glyphicon-floppy-open"></i>
            Lưu &amp; tạo mới
        </button>
        <button class="btn btn-sm btn-info save-close"
                data-url="@_url" data-type="@_type" data-grid="@_grid"
                onclick="SaveCloseV2(event);">
            <i class="ace-icon glyphicon glyphicon-floppy-save"></i>
            Lưu &amp; đóng
        </button>
    </div>
    <div class="clearfix hr10"></div>
</div>
