@using WebNovel.Models.Dtos
@model StoryDto
@{
    ViewData["Title"] = Model.Title;
    // Layout = "_HomeLayout";
    Layout = "_AppLayout";
    var token = ViewBag.AntiForgeryToken as string;

    var ratingWidth = Math.Round(Model.Rating / 5 * 20, 0) + "%";

    var storiesOfAuthor = (List<StoryDto>)ViewBag.StoriesOfAuthor;
    var storiesOfContributor = (List<StoryDto>)ViewBag.StoriesOfContributor;
    var storiesOfGenre = (List<StoryDto>)ViewBag.StoriesOfGenre;
    var newChapters = (List<StoryDto>)ViewBag.NewChapters;

}

<style>
    .breadcrumb {
        padding: 1.5rem 0.2rem 1.6rem;
    }

    main.main {
        background: #f5f5f5;
    }

    .sidebar-content {
        background-color: #f5f5f5;
    }

    .container .main-content .product.product-single,
    .container .main-content .frequently-bought-together,
    .container .main-content .vendor-product-section,
    .container .sidebar .sticky-sidebar .widget {
        background: #fff !important;
        border-radius: 8px;
    }


    .product-categories.genre {
        display: flex;
        flex-wrap: wrap;
    }

        .product-categories.genre .btn-wrap {
            padding: 4px;
        }

    .btn.genre {
        font-size: 1.3rem;
    }

    .product-single .btn-cart:not(:first-child) {
        margin-left: 10px;
    }

    .header-call .w-icon-exclamation-triangle {
        margin: 0 0.6rem 0.2rem 0;
        font-size: 3rem;
    }

    .vote-comment {
        position: relative;
        margin: -0.3rem 2.7rem 0 0;
    }

    .cart-dropdown .cart-count {
        right: 16px;
        top: -5px;
    }

    .report-story {
        font-size: 1.7rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        color: #999 !important
    }

        .report-story > a {
            color: #999 !important;
            padding-right: 5px;
        }

    .product-tabs .nav-link {
        font-size: 1.5rem;
    }

    .tab-content > .tab-pane {
        white-space: pre-line;
        padding: 0.5rem 1rem 2rem;
    }

    .new-chapter .title {
        margin-bottom: 0;
    }

    .title-underline:after,
    .title-link-wrapper:after {
        height: 2px;
        background-color: #dfdcdc;
    }

    .new-chapter .list-chapter {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        flex-direction: column;
    }

    .list-chapter .chapter-item {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

        .list-chapter .chapter-item a {
            padding: 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #000;
        }

            .list-chapter .chapter-item a:hover {
                background-color: #00baa3;
                color: #fff;
            }

    .list-chapter li.chapter-item:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: 0;
        width: 100%;
        height: 1px;
        background-color: #eee;
    }


    .sticky-sidebar .title {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
</style>
<!-- Start of Main -->
<main class="main">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav container">
        <ul class="breadcrumb bb-no">
            <li><a href="/">Trang chủ</a></li>
            <li>@Model.Title</li>
        </ul>
    </nav>
    <!-- End of Breadcrumb -->
    <!-- Start of Page Content -->
    <div class="page-content">
        <div class="container">
            <div class="row gutter-lg">
                <div class="main-content">
                    <div class="product product-single row pt-3 pb-3">
                        <div class="col-md-3 mb-6">
                            <div class="product-gallery product-gallery-sticky">
                                <figure class="product-image">
                                    <img src="~/uploads/story_cover/@Model.CoverUrl"
                                         alt="@Model.Title" width="800" height="900">
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-9 mb-4 mb-md-6">
                            <div class="product-details" data-sticky-options="{'minWidth': 767}">
                                <h1 class="product-title">@Model.Title</h1>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: @ratingWidth;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a href="#product-tab-reviews" class="rating-reviews scroll-to">
                                        (@Model.Rating
                                        lượt đánh giá)
                                    </a>
                                </div>
                                <hr class="product-divider">

                                <div class="product-bm-wrapper">
                                    <div class="product-meta">
                                        <div class="product-categories">
                                            Tác giả:
                                            <span class="product-category"><a href="/tac-gia/@Model.Slug">@Model.AuthorName</a></span>
                                        </div>
                                        <div class="product-categories">
                                            Đóng góp bởi:
                                            <span class="product-category"><a href="/nguoi-dong-gop/@Model.ContributorSlug">@Model.ContributorName</a></span>
                                        </div>
                                        <div class="product-categories">
                                            Tình trạng:
                                            <span class="product-category text-secondary">@Model.Status</span>
                                        </div>
                                        <div class="product-categories genre">
                                            @{
                                                for (int i = 0; i < Model.ListGenreName.Count; i++)
                                                {
                                                    <div class="btn-wrap ">
                                                        <span class="btn genre btn-success btn-outline btn-ellipse">
                                                            <a href="/danh-sach-truyen/the-loai/@Model.ListGenreSlug[i]">@Model.ListGenreName[i]</a>
                                                        </span>
                                                    </div>
                                                }
                                                for (int i = 0; i < Model.ListTagName.Count; i++)
                                                {
                                                    <div class="btn-wrap ">
                                                        <span class="btn genre btn-primary btn-outline btn-ellipse">
                                                            <a href="/danh-sach-truyen/the-loai/@Model.ListTagSlug[i]">@Model.ListTagName[i]</a>
                                                        </span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="product-sku widget widget-category">
                                            <div class="category-box">
                                                <span>@Model.TotalChapters chương</span>
                                                <span>@Model.TotalWords chữ</span>
                                                <span>@Model.ReadCount lượt đọc</span>
                                                <span>@Model.TotalVotes đề cử</span>
                                                <span>@Model.FollowCount lưu trữ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="product-divider">

                                <div class="product-sticky-content sticky-content">
                                    <div class="product-form container">
                                        <button class="btn btn-primary btn-cart">
                                            <i class="fa-solid fa-book-open-reader mr-2"></i>
                                            <span>Đọc từ đầu</span>
                                        </button>


                                        <button class="btn btn-primary btn-cart">
                                            <i class="fa-solid fa-list mr-2"></i>
                                            <span>DS Chương</span>
                                        </button>


                                        <button class="btn btn-primary btn-cart">
                                            <i class="fa-solid fa-book mr-2"></i>
                                            <span>Lưu trữ</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="social-links-wrapper">
                                    <div class="header-right ml-4">


                                        <div class="vote-comment cart-dropdown mr-0 mr-lg-2">
                                            <a class="wishlist label-down link d-xs-show" href="wishlist.html">
                                                <i class="w-icon-heart"></i>
                                                <span class="cart-label">Ủng hộ</span>
                                            </a>
                                        </div>

                                        <div class="vote-comment cart-dropdown mr-0 mr-lg-2">
                                            <a class="wishlist label-down link d-xs-show" href="compare.html">
                                                <i class="w-icon-reviews"></i>
                                                <span class="cart-label">Đánh giá</span>
                                            </a>
                                        </div>
                                        <div class="vote-comment cart-dropdown mr-0 mr-lg-2">
                                            <a href="#" class="wishlist label-down link d-xs-show">
                                                <i class="w-icon-honour">
                                                    <span class="cart-count">@Model.TotalVotes</span>
                                                </i>
                                                <span class="cart-label">Đề cử</span>
                                            </a>
                                        </div>
                                        <div class="vote-comment cart-dropdown mr-0 mr-lg-2">
                                            <a href="#" class="wishlist label-down link d-xs-show">
                                                <i class="w-icon-comments">
                                                    <span class="cart-count">@Model.CommentCount</span>
                                                </i>
                                                <span class="cart-label">Bình luận</span>
                                            </a>
                                        </div>
                                        <div class="header-call d-xs-show d-lg-flex align-items-center">
                                        </div>
                                        <div class="vote-comment cart-dropdown mr-0 mr-lg-2 report-story">
                                            <a href="/bao-cao/@Model.Slug" class="w-icon-exclamation-triangle">
                                            </a>
                                            <div class="call-info d-lg-show">
                                                <span class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
                                                    Báo cáo
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frequently-bought-together new-chapter row mt-5">
                        <h2 class="title title-underline pt-3">Chương mới</h2>
                        <div class="bought-together-products">
                            <ul class="list-chapter">
                                <li class="chapter-item">
                                    <a class="chapter-item-link" href="/truyen/@Model.Slug/">
                                        <span>Chương 1</span>
                                        <span>2 ngày trước</span>
                                    </a>

                                </li>
                                <li class="chapter-item">
                                    <a class="chapter-item-link" href="/truyen/@Model.Slug/">
                                        <span>Chương 1</span>
                                        <span>2 ngày trước</span>
                                    </a>
                                </li>
                                <li class="chapter-item">
                                    <a class="chapter-item-link" href="/truyen/@Model.Slug/">
                                        <span>Chương 1</span>
                                        <span>2 ngày trước</span>
                                    </a>
                                </li>
                                <li class="chapter-item">
                                    <a class="chapter-item-link" href="/truyen/@Model.Slug/">
                                        <span>Chương 1</span>
                                        <span>2 ngày trước</span>
                                    </a>
                                </li>
                                <li class="chapter-item">
                                    <a class="chapter-item-link" href="/truyen/@Model.Slug/">
                                        <span>Chương 1</span>
                                        <span>2 ngày trước</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab tab-nav-boxed tab-nav-underline product-tabs row mt-5">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a href="#product-tab-description" class="nav-link active">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a href="#product-tab-specification" class="nav-link">Danh sách chương</a>
                            </li>
                            <li class="nav-item">
                                <a href="#product-tab-vendor" class="nav-link">Bình luận</a>
                            </li>
                            <li class="nav-item">
                                <a href="#product-tab-reviews" class="nav-link">Đánh giá</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="product-tab-description">
                                @Model.Description
                            </div>
                            <div class="tab-pane" id="product-tab-specification">
                                <ul class="list-none">
                                    <li>
                                        <label>Model</label>
                                        <p>Skysuite 320</p>
                                    </li>
                                    <li>
                                        <label>Color</label>
                                        <p>Black</p>
                                    </li>
                                    <li>
                                        <label>Size</label>
                                        <p>Large, Small</p>
                                    </li>
                                    <li>
                                        <label>Guarantee Time</label>
                                        <p>3 Months</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="product-tab-vendor">
                                <div class="row mb-3">
                                    <div class="col-md-6 mb-4">
                                        <figure class="vendor-banner br-sm">
                                            <img src="~/assets/images/products/vendor-banner.jpg"
                                                 alt="Vendor Banner" width="610" height="295"
                                                 style="background-color: #353B55;" />
                                        </figure>
                                    </div>
                                    <div class="col-md-6 pl-2 pl-md-6 mb-4">
                                        <div class="vendor-user">
                                            <figure class="vendor-logo mr-4">
                                                <a href="#">
                                                    <img src="~/assets/images/products/vendor-logo.jpg"
                                                         alt="Vendor Logo" width="80" height="80" />
                                                </a>
                                            </figure>
                                            <div>
                                                <div class="vendor-name"><a href="#">Jone Doe</a></div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 90%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <a href="#" class="rating-reviews">(32 Reviews)</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="vendor-info list-style-none">
                                            <li class="store-name">
                                                <label>Store Name:</label>
                                                <span class="detail">OAIO Store</span>
                                            </li>
                                            <li class="store-address">
                                                <label>Address:</label>
                                                <span class="detail">
                                                    Steven Street, El Carjon, CA 92020, United
                                                    States (US)
                                                </span>
                                            </li>
                                            <li class="store-phone">
                                                <label>Phone:</label>
                                                <a href="#tel:">1234567890</a>
                                            </li>
                                        </ul>
                                        <a href="vendor-dokan-store.html"
                                           class="btn btn-dark btn-link btn-underline btn-icon-right">
                                            Visit
                                            Store<i class="w-icon-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="mb-5">
                                    <strong class="text-dark">L</strong>orem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua.
                                    Venenatis tellus in metus vulputate eu scelerisque felis. Vel pretium
                                    lectus quam id leo in vitae turpis massa. Nunc id cursus metus aliquam.
                                    Libero id faucibus nisl tincidunt eget. Aliquam id diam maecenas ultricies
                                    mi eget mauris. Volutpat ac tincidunt vitae semper quis lectus. Vestibulum
                                    mattis ullamcorper velit sed. A arcu cursus vitae congue mauris.
                                </p>
                                <p class="mb-2">
                                    <strong class="text-dark">A</strong> arcu cursus vitae congue
                                    mauris. Sagittis id consectetur purus
                                    ut. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
                                    Diam in
                                    arcu cursus euismod quis. Eget sit amet tellus cras adipiscing enim eu. In
                                    fermentum et sollicitudin ac orci phasellus. A condimentum vitae sapien
                                    pellentesque
                                    habitant morbi tristique senectus et. In dictum non consectetur a erat. Nunc
                                    scelerisque viverra mauris in aliquam sem fringilla.
                                </p>
                            </div>
                            <div class="tab-pane" id="product-tab-reviews">
                                <div class="row mb-4">
                                    <div class="col-xl-4 col-lg-5 mb-4">
                                        <div class="ratings-wrapper">
                                            <div class="avg-rating-container">
                                                <h4 class="avg-mark font-weight-bolder ls-50">3.3</h4>
                                                <div class="avg-rating">
                                                    <p class="text-dark mb-1">Average Rating</p>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 60%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                        <a href="#" class="rating-reviews">(3 Reviews)</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ratings-value d-flex align-items-center text-dark ls-25">
                                                <span class="text-dark font-weight-bold">66.7%</span>Recommended<span class="count">(2 of 3)</span>
                                            </div>
                                            <div class="ratings-list">
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-sm ">
                                                        <span></span>
                                                    </div>
                                                    <div class="progress-value">
                                                        <mark>70%</mark>
                                                    </div>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 80%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-sm ">
                                                        <span></span>
                                                    </div>
                                                    <div class="progress-value">
                                                        <mark>30%</mark>
                                                    </div>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 60%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-sm ">
                                                        <span></span>
                                                    </div>
                                                    <div class="progress-value">
                                                        <mark>40%</mark>
                                                    </div>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 40%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-sm ">
                                                        <span></span>
                                                    </div>
                                                    <div class="progress-value">
                                                        <mark>0%</mark>
                                                    </div>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 20%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-sm ">
                                                        <span></span>
                                                    </div>
                                                    <div class="progress-value">
                                                        <mark>0%</mark>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-7 mb-4">
                                        <div class="review-form-wrapper">
                                            <h3 class="title tab-pane-title font-weight-bold mb-1">
                                                Submit Your
                                                Review
                                            </h3>
                                            <p class="mb-3">
                                                Your email address will not be published. Required
                                                fields are marked *
                                            </p>
                                            <form action="#" method="POST" class="review-form">
                                                <div class="rating-form">
                                                    <label for="rating">Your Rating Of This Product :</label>
                                                    <span class="rating-stars">
                                                        <a class="star-1" href="#">1</a>
                                                        <a class="star-2" href="#">2</a>
                                                        <a class="star-3" href="#">3</a>
                                                        <a class="star-4" href="#">4</a>
                                                        <a class="star-5" href="#">5</a>
                                                    </span>
                                                    <select name="rating" id="rating" required=""
                                                            style="display: none;">
                                                        <option value="">Rate…</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very poor</option>
                                                    </select>
                                                </div>
                                                <textarea cols="30" rows="6"
                                                          placeholder="Write Your Review Here..." class="form-control"
                                                          id="review"></textarea>
                                                <div class="row gutter-md">
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               placeholder="Your Name" id="author">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                               placeholder="Your Email" id="email_1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="checkbox" class="custom-checkbox"
                                                           id="save-checkbox">
                                                    <label for="save-checkbox">
                                                        Save my name, email, and website
                                                        in this browser for the next time I comment.
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-dark">
                                                    Submit
                                                    Review
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab tab-nav-boxed tab-nav-outline tab-nav-center">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a href="#show-all" class="nav-link active">Show All</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#helpful-positive" class="nav-link">
                                                Most Helpful
                                                Positive
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#helpful-negative" class="nav-link">
                                                Most Helpful
                                                Negative
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#highest-rating" class="nav-link">Highest Rating</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#lowest-rating" class="nav-link">Lowest Rating</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="show-all">
                                            <ul class="comments list-style-none">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/1-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:54 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 60%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                pellentesque habitant morbi tristique senectus
                                                                et. In dictum non consectetur a erat.
                                                                Nunc ultrices eros in cursus turpis massa
                                                                tincidunt ante in nibh mauris cursus mattis.
                                                                Cras ornare arcu dui vivamus arcu felis bibendum
                                                                ut tristique.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (1)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (0)
                                                                </a>
                                                                <div class="review-image">
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-1.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-1-800x900.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/2-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:52 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 80%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                Nullam a magna porttitor, dictum risus nec,
                                                                faucibus sapien.
                                                                Ultrices eros in cursus turpis massa tincidunt
                                                                ante in nibh mauris cursus mattis.
                                                                Cras ornare arcu dui vivamus arcu felis bibendum
                                                                ut tristique.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (1)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (0)
                                                                </a>
                                                                <div class="review-image">
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-2.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-2.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-3.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-3.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/3-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:21 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 60%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                In fermentum et sollicitudin ac orci phasellus. A
                                                                condimentum vitae
                                                                sapien pellentesque habitant morbi tristique
                                                                senectus et. In dictum
                                                                non consectetur a erat. Nunc scelerisque viverra
                                                                mauris in aliquam sem fringilla.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (0)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (1)
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="helpful-positive">
                                            <ul class="comments list-style-none">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/1-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:54 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 60%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                pellentesque habitant morbi tristique senectus
                                                                et. In dictum non consectetur a erat.
                                                                Nunc ultrices eros in cursus turpis massa
                                                                tincidunt ante in nibh mauris cursus mattis.
                                                                Cras ornare arcu dui vivamus arcu felis bibendum
                                                                ut tristique.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (1)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (0)
                                                                </a>
                                                                <div class="review-image">
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-1.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-1.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/2-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:52 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 80%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                Nullam a magna porttitor, dictum risus nec,
                                                                faucibus sapien.
                                                                Ultrices eros in cursus turpis massa tincidunt
                                                                ante in nibh mauris cursus mattis.
                                                                Cras ornare arcu dui vivamus arcu felis bibendum
                                                                ut tristique.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (1)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (0)
                                                                </a>
                                                                <div class="review-image">
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-2.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-2-800x900.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-3.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-3-800x900.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="helpful-negative">
                                            <ul class="comments list-style-none">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/3-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:21 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 60%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                In fermentum et sollicitudin ac orci phasellus. A
                                                                condimentum vitae
                                                                sapien pellentesque habitant morbi tristique
                                                                senectus et. In dictum
                                                                non consectetur a erat. Nunc scelerisque viverra
                                                                mauris in aliquam sem fringilla.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (0)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (1)
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="highest-rating">
                                            <ul class="comments list-style-none">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/2-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:52 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 80%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                Nullam a magna porttitor, dictum risus nec,
                                                                faucibus sapien.
                                                                Ultrices eros in cursus turpis massa tincidunt
                                                                ante in nibh mauris cursus mattis.
                                                                Cras ornare arcu dui vivamus arcu felis bibendum
                                                                ut tristique.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (1)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (0)
                                                                </a>
                                                                <div class="review-image">
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-2.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-2-800x900.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-3.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-3-800x900.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="lowest-rating">
                                            <ul class="comments list-style-none">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <figure class="comment-avatar">
                                                            <img src="~/assets/images/agents/1-100x100.png"
                                                                 alt="Commenter Avatar" width="90" height="90">
                                                        </figure>
                                                        <div class="comment-content">
                                                            <h4 class="comment-author">
                                                                <a href="#">John Doe</a>
                                                                <span class="comment-date">
                                                                    March 22, 2021 at
                                                                    1:54 pm
                                                                </span>
                                                            </h4>
                                                            <div class="ratings-container comment-rating">
                                                                <div class="ratings-full">
                                                                    <span class="ratings"
                                                                          style="width: 60%;"></span>
                                                                    <span class="tooltiptext tooltip-top"></span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                pellentesque habitant morbi tristique senectus
                                                                et. In dictum non consectetur a erat.
                                                                Nunc ultrices eros in cursus turpis massa
                                                                tincidunt ante in nibh mauris cursus mattis.
                                                                Cras ornare arcu dui vivamus arcu felis bibendum
                                                                ut tristique.
                                                            </p>
                                                            <div class="comment-action">
                                                                <a href="#"
                                                                   class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-up"></i>Helpful (1)
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                    <i class="far fa-thumbs-down"></i>Unhelpful
                                                                    (0)
                                                                </a>
                                                                <div class="review-image">
                                                                    <a href="#">
                                                                        <figure>
                                                                            <img src="~/assets/images/products/default/review-img-3.jpg"
                                                                                 width="60" height="60"
                                                                                 alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                 data-zoom-image="~/assets/images/products/default/review-img-3-800x900.jpg" />
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="vendor-product-section row mt-5">
                        <div class="title-link-wrapper mb-4">
                            <h4 class="title text-left">Truyện cùng thể loại!</h4>
                            <a href="#" class="btn btn-dark btn-link btn-slide-right btn-icon-right">
                                xem thêm<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <div class="swiper-container swiper-theme" data-swiper-options="{
                                    'spaceBetween': 20,
                                    'slidesPerView': 2,
                                    'breakpoints': {
                                        '576': {
                                            'slidesPerView': 3
                                        },
                                        '768': {
                                            'slidesPerView': 4
                                        },
                                        '992': {
                                            'slidesPerView': 3
                                        }
                                    }
                                }">
                            <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
                                <div class="swiper-slide product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/assets/images/products/default/1-1.jpg" alt="Product"
                                                 width="300" height="338" />
                                            <img src="~/assets/images/products/default/1-2.jpg" alt="Product"
                                                 width="300" height="338" />
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                               title="Add to cart"></a>
                                            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                               title="Add to wishlist"></a>
                                            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                               title="Add to Compare"></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview" title="Quick View">
                                                Quick
                                                View
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-banner-sidebar.html">Accessories</a>
                                        </div>
                                        <h4 class="product-name">
                                            <a href="product-default.html">Sticky Pencil</a>
                                        </h4>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width: 100%;"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                        </div>
                                        <div class="product-pa-wrapper">
                                            <div class="product-price">$20.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/assets/images/products/default/2.jpg" alt="Product"
                                                 width="300" height="338" />
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                               title="Add to cart"></a>
                                            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                               title="Add to wishlist"></a>
                                            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                               title="Add to Compare"></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview" title="Quick View">
                                                Quick
                                                View
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-banner-sidebar.html">Electronics</a>
                                        </div>
                                        <h4 class="product-name">
                                            <a href="product-default.html">
                                                Mini
                                                Multi-Functional Cooker
                                            </a>
                                        </h4>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width: 80%;"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product-default.html" class="rating-reviews">(5 reviews)</a>
                                        </div>
                                        <div class="product-pa-wrapper">
                                            <div class="product-price">
                                                <ins class="new-price">$480.00</ins><del class="old-price">$534.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/assets/images/products/default/3.jpg" alt="Product"
                                                 width="300" height="338" />
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                               title="Add to cart"></a>
                                            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                               title="Add to wishlist"></a>
                                            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                               title="Add to Compare"></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview" title="Quick View">
                                                Quick
                                                View
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat"><a href="shop-banner-sidebar.html">Sports</a></div>
                                        <h4 class="product-name"><a href="product-default.html">Skate Pan</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width: 100%;"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                        </div>
                                        <div class="product-pa-wrapper">
                                            <div class="product-price">
                                                <ins class="new-price">$278.00</ins><del class="old-price">$310.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/assets/images/products/default/4-1.jpg" alt="Product"
                                                 width="300" height="338" />
                                            <img src="~/assets/images/products/default/4-2.jpg" alt="Product"
                                                 width="300" height="338" />
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                               title="Add to cart"></a>
                                            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                               title="Add to wishlist"></a>
                                            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                               title="Add to Compare"></a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-quickview" title="Quick View">
                                                Quick
                                                View
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-banner-sidebar.html">Accessories</a>
                                        </div>
                                        <h4 class="product-name">
                                            <a href="product-default.html">Clip Attachment</a>
                                        </h4>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width: 100%;"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product-default.html" class="rating-reviews">(5 reviews)</a>
                                        </div>
                                        <div class="product-pa-wrapper">
                                            <div class="product-price">$40.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- End of Main Content -->
                <aside class="sidebar product-sidebar sidebar-fixed right-sidebar sticky-sidebar-wrapper">
                    <div class="sidebar-overlay"></div>
                    <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                    <a href="#" class="sidebar-toggle d-flex d-lg-none"><i class="fas fa-chevron-left"></i></a>
                    <div class="sidebar-content scrollable">
                        <div class="sticky-sidebar">
                            <div class="widget widget-icon-box mb-6">
                                <div class="title title-underline pt-3">Truyện cùng tác giả</div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-truck"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Free Shipping & Returns</h4>
                                        <p>For all orders over $99</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-bag"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Secure Payment</h4>
                                        <p>We ensure secure payment</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-money"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Money Back Guarantee</h4>
                                        <p>Any back within 30 days</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Widget Icon Box -->

                            <div class="widget widget-icon-box mb-6">
                                <div class="title title-underline pt-3">Truyện cùng người đăng</div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-truck"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Free Shipping & Returns</h4>
                                        <p>For all orders over $99</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-bag"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Secure Payment</h4>
                                        <p>We ensure secure payment</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-money"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Money Back Guarantee</h4>
                                        <p>Any back within 30 days</p>
                                    </div>
                                </div>
                            </div>

                            <!-- End of Widget Icon Box -->
                            <div class="widget widget-icon-box mb-6">
                                <div class="title title-underline pt-3">Top đề cử</div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-truck"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Free Shipping & Returns</h4>
                                        <p>For all orders over $99</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-bag"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Secure Payment</h4>
                                        <p>We ensure secure payment</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon text-dark">
                                        <i class="w-icon-money"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Money Back Guarantee</h4>
                                        <p>Any back within 30 days</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Widget Icon Box -->
                        </div>
                    </div>
                </aside>
                <!-- End of Sidebar -->
            </div>
        </div>
    </div>
    <!-- End of Page Content -->
</main>
<!-- End of Main -->